body{
    padding: 0;
    margin: 0;
    background-color: #86BBD8;;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

/*TV CSS start*/
.tv-container{
    width: auto;
    height: 500px;
    position: relative;
    margin: auto;
    padding: auto;
    background-color:  #a1c181;
}
.click{
    position: relative;
    text-align: center;
    letter-spacing: 6px;
}
.container{
    height: 430px;
    width: 450px;
    position: relative;
   /*border: 3px solid white;*/
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.tv{
    background-color: #233d4d;
    height: 200px;
    width: 270px;
    position: absolute;
    top: 200px;
    left: 90px;
    border-radius: 15px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    background-color: #619b8a;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top:100px;
    right: 15px;
    outline: none;
    cursor: pointer;
}
.speaker{
    position: absolute;
    top:50px;
    right: 7px;
}
.speaker>div{
    background-color: #106575;
    height: 6px;
    width: 50px;
    margin-bottom: 5px;
}
.slot{
    background-color: #106575;
    height: 6px;
    width: 220px;
    border-radius: 8px;
    position: absolute;
    bottom: 12px;
    left: 18px;
}
.antenna{
    background-color: #323031;
    height: 20px;
    width: 60px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: -20px;
    left: 50px;
}
.a{
    background-color: #323031;
    height: 70px;
    width: 6px;
    border-radius: 6px;
    position: relative;
}
.a:nth-child(1){
    bottom: 60px;
    left: 10px;
    transform: rotate(-30deg);
}
.a:nth-child(2){
    bottom: 130px;
    left: 45px;
    transform: rotate(30deg);
}
.stand1, .stand2{
    background-color: #106575;
    height: 10px;
    width: 18px;
    position: absolute;
    border-radius: 0 0 15px 15px;
    bottom: -10px;
}
.stand1{
    left: 45px;
}
.stand2{
    right: 45px;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    background-color: #caffd0;
    width: 170px;
    height: 140px;
    bottom: -42px;
    right: 45px;
    border-radius: 5px;
    border:10px solid #106575;
    background-size: 160px 140px;
    background-image: url("blm_img.png");
    pointer-events: none;
}
input:checked[type="checkbox"]:before{
    background-size: 100px;
    animation:none;
    background-image: none;
}