body{
    padding: 0;
    margin: 0;
    background-color: #86BBD8;
    font-family: "Courier New", Courier, monospace;
    color: black;
}
.intro{
    position: relative;
    padding: 15px;
    background-color: #ddd;
    height: 50px;
    text-align: center;
    line-height: .5em;
}

/* Containers */
.PLZWORK{
    display: inline;
    position: relative;

}
.animalcontainer{
    display: flex;
    justify-content: space-evenly; 
    flex-direction: row;
    background-color: none;
    width: auto;
    height: 500px;
    position: relative;
    margin: 20px;
    padding: auto;
    flex-wrap: wrap;
}
.container{
    display: inline-block;
    position: relative;
}
.shapecontainer{
    display: flex;
    flex-wrap: wrap;
    background-color: #a1c181;
    width: auto;
    height: auto;
    position: relative;
    justify-content: center;
    margin: auto;
}
.grid-container {
    display: grid;
    grid-gap: 100px;
    padding: 100px;
    grid-template-columns: auto auto auto;
  }
  .grid-item {
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
  }
/* Shapes start*/
.square{
    background-color: white;
    height: 100px;
    width: 100px;
}
.circle{
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.triangle{
    height: 0;
    width: 0;
    border-bottom: 100px solid white;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;   
}
.parallelogram{
    background-color: white;
    height: 100px;
    width: 150px;
    transform: skew(-20deg);
}
.ellipse{
    background-color: white;
    height: 100px;
    width: 150px;
    border-radius: 50%;
}
.leaf{
    background-color: white;
    height: 100px;
    width: 100px;
    /* 250px is applied to top-left and bottom-right corners.
    0px is applie to top-right and bottom-left corners*/
    border-radius: 250px 0;
}
.heart{
    background-color: white;
    height: 70px;
    width: 70px;
    transform: rotate(45deg);   
}
.heart:before{
    position: absolute;
    content: '';
    background-color: white;
    height: 60%;
    width: 100%;
    top:-59%;
    border-radius: 75px 75px 0 0;
}
.heart:after{
    position: absolute;
    content: '';
    background-color: white;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    top:20%;
    right: 79%;
    border-radius: 75px 75px 0 0; 
}
.drop{
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 0 50% 45% 50%;
    transform: rotate(45deg);
}

/*TV CSS start*/
.tv-container{
    width: auto;
    height: 500px;
    position: relative;
    margin: auto;
    padding: auto;
    background-color:  #ff9b54;
}
.click{
    position: relative;
    text-align: center;
    letter-spacing: 6px;
}
#container{
    display: flex;
    height: 430px;
    width: 450px;
    position: relative;
    /*border: 3px solid white;*/
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.tv{
    background-color: #233d4d;
    height: 200px;
    width: 270px;
    position: absolute;
    top: 200px;
    left: 90px;
    border-radius: 15px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    background-color: #619b8a;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top:100px;
    right: 15px;
    outline: none;
    cursor: pointer;
}
.speaker{
    position: absolute;
    top:50px;
    right: 7px;
}
.speaker>div{
    background-color: #106575;
    height: 6px;
    width: 50px;
    margin-bottom: 5px;
}
.slot{
    background-color: #106575;
    height: 6px;
    width: 220px;
    border-radius: 8px;
    position: absolute;
    bottom: 12px;
    left: 18px;
}
.antenna{
    background-color: #323031;
    height: 20px;
    width: 60px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: -20px;
    left: 50px;
}
.a{
    background-color: #323031;
    height: 70px;
    width: 6px;
    border-radius: 6px;
    position: relative;
}
.a:nth-child(1){
    bottom: 60px;
    left: 10px;
    transform: rotate(-30deg);
}
.a:nth-child(2){
    bottom: 130px;
    left: 45px;
    transform: rotate(30deg);
}
.stand1, .stand2{
    background-color: #106575;
    height: 10px;
    width: 18px;
    position: absolute;
    border-radius: 0 0 15px 15px;
    bottom: -10px;
}
.stand1{
    left: 45px;
}
.stand2{
    right: 45px;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    background-color: #caffd0;
    width: 170px;
    height: 140px;
    bottom: -42px;
    right: 45px;
    border-radius: 5px;
    border:10px solid #106575;
    background-image: none;
    pointer-events: none;
}
input:checked[type="checkbox"]:before{
    background-size: 100px;
    animation:none;
    background-image: url("blm_pride.png");
    background-size: 160px 140px;
}